.blur {
  width: 420px;
  position: relative;
  top: 16vh;
  left: 8%;
  padding-bottom: 100px;
}

.blur::before {
  content: '';
  width: 420px;
  height: 630px;
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
}

.welcome {
  margin-top: -68px;
  width: 100%;
  position: absolute;
}

// * -- 火箭動畫
.rocket {
  position: absolute;
  top: 20%;
  // width: 70px;
  height: 200px;
  left: calc(75%);
  display: inline-block;
}

.rocket .rocket_main {
  animation: rocket_bounce 0.5s infinite;
}

.rocket .rocket_body {
  position: absolute;
  background-color: #efeeee;
  height: 180px;
  width: 80px;
  left: calc(50% - 50px);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top: 5px solid #f5f5f5;
  filter: blur(0.8px);
}

.rocket .rocket_body::before {
  content: '';
  position: absolute;
  left: calc(50% - 24px); // !
  width: 48px;
  height: 13px;
  background: linear-gradient(to right top, #8360c3, #2ebf91);
  bottom: -13px;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  filter: blur(0.3px);
}

.rocket .window {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(to right top, #8360c3, #2ebf91);
  left: calc(50% - 30px);
  top: 40px;
  border: 5px solid #b4b2b2;
}

.rocket .window::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  left: 20%;
  top: 20%;
}

.rocket .fin {
  position: absolute;
  top: calc(50% + 90px);
  height: 55px;
  width: 50px;
  background: linear-gradient(to right top, #8360c3, #2ebf91);
  z-index: -5;
}

.rocket .fin_left {
  left: -90px;
  border-top-left-radius: 80%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.rocket .fin_right {
  left: 20px;
  border-top-right-radius: 80%;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.rocket .exhaust_flame {
  position: absolute;
  top: 90%;
  width: 28px;
  background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  height: 150px;
  left: calc(50% - 24px);
  animation: exhaust 0.2s infinite;
}

.rocket .exhaust_fumes li {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #f5f5f5;
  list-style: none;
  border-radius: 100%;
}

.rocket .exhaust_fumes li:first-child {
  width: 180px;
  height: 180px;
  bottom: -120px;
  left: calc(50% - 90px);
  animation: fumes 5s infinite;
}

.rocket .exhaust_fumes li:nth-child(2) {
  width: 150px;
  height: 150px;
  bottom: -120px;
  left: calc(50%);
  animation: fumes 12s infinite;
}

.rocket .exhaust_fumes li:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -100px;
  left: calc(50% - 150px);
  animation: fumes 10s infinite;
}

.rocket .exhaust_fumes li:nth-child(4) {
  width: 60px;
  height: 60px;
  bottom: -100px;
  left: calc(50% - 180px);
  animation: fumes 4s infinite;
}

.rocket .exhaust_fumes li:nth-child(5) {
  width: 80px;
  height: 80px;
  bottom: -120px;
  left: calc(50% - 150px);
  animation: fumes 2s infinite;
}

.rocket .exhaust_fumes li:nth-child(6) {
  width: 80px;
  height: 80px;
  bottom: -120px;
  left: calc(50% - 150px);
  animation: fumes 20s infinite;
}

.rocket .exhaust_fumes li:nth-child(n + 7):nth-child(-n + 12) {
  background: linear-gradient(to top, transparent 10%, #f5f5f5 100%);
}

.rocket .exhaust_fumes li:nth-child(7) {
  width: 80px;
  height: 80px;
  bottom: -120px;
  left: calc(50% + 60px);
}

.rocket .exhaust_fumes li:nth-child(8) {
  width: 180px;
  height: 180px;
  bottom: -170px;
  left: calc(50% - 90px);
}

.rocket .exhaust_fumes li:nth-child(9) {
  width: 150px;
  height: 150px;
  bottom: -120px;
  left: calc(50%);
}

.rocket .exhaust_fumes li:nth-child(10) {
  width: 150px;
  height: 150px;
  bottom: -100px;
  left: calc(50% - 150px);
}

.rocket .exhaust_fumes li:nth-child(11) {
  width: 60px;
  height: 60px;
  bottom: -100px;
  left: calc(50% - 180px);
}

.rocket .exhaust_fumes li:nth-child(12) {
  width: 80px;
  height: 80px;
  bottom: -120px;
  left: calc(50% - 150px);
}

@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: #f5f5f5;
    transform: scale(1);
  }
}

@keyframes rocket_bounce {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    transform: translate3d(0px, -8px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
// * -- 表格

.form_control {
  position: relative;
  margin: 60px 66px;
  width: 300px;
}

.form_control input {
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid rgb(159, 159, 159);
  display: block;
  width: 100%;
  height: 30px;
}

.btn_login {
  position: relative;
  width: 100px;
  height: 42px;
  display: inline-block;
  padding: 0px;
  color: #fffefe;
  background-color: #2dd2ac;
  left: 50%;
  transform: translate(-50%, 0);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn_login:hover {
  color: #fffefe;
  background-color: #c1e9df;
}

.btn_login:focus {
  color: #fffefe;
  background-color: #c1e9df;
  transform: translate(-50%, 0) scale(0.95);
  transform-origin: center;
}

.email {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

label.login {
  position: absolute;
  top: 1px;
}

// input focus效果

.form_control label {
  position: absolute;
  // top: 20px;
  left: 10px;
}

.changeTranslate label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.6, -0.5, 0.26, 1.55);
}

.changeTranslate input:focus {
  border-bottom-color: #f19237;
}

.changeTranslate input:focus + label span {
  color: #f19237;
  transform: translateY(-30px);
  font-size: 14px;
}

.form_control_onBlur input:focus {
  border-bottom-color: #f19237;
}

.form_control_onBlur input + label {
  transition: 0.9s;
  position: absolute;
  transform: translateY(-30px);
  transition: 0.3s cubic-bezier(0.6, -0.5, 0.26, 1.55);
  color: #f19237;
  font-size: 14px;
}

.form_control_onBlur input:focus + label {
  position: absolute;
  color: #f19237;
  transform: translateY(-30px);
  font-size: 14px;
}

.input_alert {
  position: absolute;
  color: red;
  font-size: 13px;
  letter-spacing: 2px;
}

.show_eye {
  position: absolute;
  right: 0px;
  top: 2px;
}

.alert {
  color: red;
}
